services:
  express:
    container_name: lambda-web-adapter-express
    image: lambda-web-adapter-express:latest
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    tty: true
